.userData {
  min-width: 40%;
  display: inline-block;
  float: left;
  padding-left: 5%;
  height: 50%;
}
.userConnectionPosts {
  width: 40%;
  display: inline-block;
  float: right;
}

.panelContent {
  height: 50%;
}

.navLink {
  padding-bottom: 10%;
  background: cyan;
  text-decoration-color: white;
  text-align: center;
}

.navLink:hover {
  background: teal;
}
