.user-profile-data {
  min-width: 15%;
  display: flex;
  float: left;
  padding-left: 5%;
  padding-right: 2%;
  width: 25%;
  flex-flow: column;
  order: 1;
}

.post-form-card {
  display: flex;
  padding-right: 2%;
  flex-flow: column;
  order: 2;
}

.user-connections-posts {
  width: 50%;
  min-width: 40%;
  float: right;
  overflow-y: scroll;
  flex-flow: column;
  display: flex;
  height: 725px;
  max-height: 800px;
  text-align: center;
  order: 3;
}

.user-profile-content {
  padding-top: 2%;
  padding-right: 3%;
  flex-wrap: wrap;
}
