.userData {
  min-width: 40%;
  display: inline-block;
  float: left;
  padding-left: 5%;
  height: 50%;
}
.userConnectionPosts {
  width: 40%;
  display: inline-block;
  float: right;
}

.panelContent {
  height: 50%;
}
