.user-list-item {
  width: 30%;
  height: 75%;
  margin: 0 auto;
  padding: 3%;
  display: inline-block;
}

.users-list {
  overflow-y: scroll;
  flex-flow: column;
  display: flex;
  flex: 1;
  max-height: 800px;
  text-align: center;
}

.users-list-content {
  width: 100%;
}
