.user-show-data {
  min-width: 25%;
  display: flex;
  float: left;
  padding-right: 5%;
  flex-flow: column;
  width: 35%;
}

.user-posts {
  min-width: 40%;
  width: 65%;
  float: right;
  overflow-y: scroll;
  flex-flow: column;
  display: flex;
  height: 725px;
  text-align: center;
}

.user-show-content {
  padding-left: 4%;
  padding-right: 3%;
  flex-wrap: wrap;
  padding-top: 2%;
  width: 100%;
}
