.user-data {
  min-width: 40%;
  display: inline-block;
  float: left;
  padding-right: 5%;
  height: 33%;
  flex-flow: column;
}

.user-card {
  height: 50%;
}

.user-posts {
  width: 50%;
  display: inline-block;
  float: right;
  overflow-y: scroll;
  flex-flow: column;
  display: flex;
  max-height: 800px;
  text-align: center;
}

.user-show-content {
  padding-right: 3%;
  flex-wrap: wrap;
  padding-top: 3%;
  width: 100%;
}
