.UserCard {
  background-color: #0077b3;
  border-radius: 5px;
  border-style: none;
  color: #fff;
  font-size: 1.25em;
  text-decoration: none;
}

.UserCard:hover {
  background-color: #0099e6;
  color: #fff;
}

.UserAvatar {
  border: 3px;
  border-width: 2px;
}
