.comment-user-card {
  order: 1;
  display: inline-flex;
}

.comment-body {
  order: 2;
  display: inline-flex;
  color: white;
  padding-left: 10%;
  text-align: left;
}

.comments-list-item {
  background-color: rgba(72, 72, 72, 0.4);
  padding: 5%;
  width: 90%;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  display: flex;
  flex-direction: row;
}

.comments-list-item-container {
  padding-bottom: 5%;
}
