.Login-header {
  text-align: center;
}

.Login-title {
  font-size: 6em;
  margin: 0;
  padding: 150px 0 25px;
}

.Login-intro {
  font-size: 1.5em;
  font-style: italic;
  color: lightgrey;
}

.Login-buttons {
  padding: 100px 0;
  text-align: center;
  padding-bottom: 20%;
}
