.login-button {
  background: #26abdd !important;
  border-radius: 5px;
  border-style: none;
  color: #fff;
  font-size: 1.25em;
  text-decoration: none;
}

.login-button:hover {
  background-color: #0099e6;
  color: #fff;
}
