.App {
  text-align: center;
  overflow-y: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  position: absolute;
  z-index: 3;
}

.App-header {
  background-color: #222;
  height: 15%;
  color: white;
}

.app-h1 {
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
  top: 15%;
  left: 50%;
}

h1,
h2 {
  font-size: 2em;
  color: lightgrey;
}

.App-intro {
  font-size: large;
}

.app-bar {
  visibility: visible;
  background: -moz-linear-gradient(
    top,
    rgba(31, 132, 199, 0) 0%,
    rgba(31, 132, 199, 0.8) 15%,
    rgba(31, 132, 199, 1) 19%,
    rgba(31, 132, 199, 1) 20%,
    rgba(66, 177, 228, 1) 50%,
    rgba(31, 132, 199, 1) 80%,
    rgba(31, 132, 199, 1) 81%,
    rgba(31, 132, 199, 0.8) 85%,
    rgba(31, 132, 199, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(31, 132, 199, 0) 0%,
    rgba(31, 132, 199, 0.8) 15%,
    rgba(31, 132, 199, 1) 19%,
    rgba(31, 132, 199, 1) 20%,
    rgba(66, 177, 228, 1) 50%,
    rgba(31, 132, 199, 1) 80%,
    rgba(31, 132, 199, 1) 81%,
    rgba(31, 132, 199, 0.8) 85%,
    rgba(31, 132, 199, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(31, 132, 199, 0) 0%,
    rgba(31, 132, 199, 0.8) 15%,
    rgba(31, 132, 199, 1) 19%,
    rgba(31, 132, 199, 1) 20%,
    rgba(66, 177, 228, 1) 50%,
    rgba(31, 132, 199, 1) 80%,
    rgba(31, 132, 199, 1) 81%,
    rgba(31, 132, 199, 0.8) 85%,
    rgba(31, 132, 199, 0) 100%
  );
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
}

.navLink {
  padding-bottom: 10%;
  background: cyan;
  text-decoration-color: white;
  text-align: center;
}

.navLink:hover {
  background: teal;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg');
}

.panel-content {
  background-position: center center;
  z-index: 1;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg');
  overflow-y: auto;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

#canvas {
  object-fit: contain;
  position: absolute;
  height: 100%;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: darkgrey;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent
  );
}

.nav-drawer {
  background: -moz-linear-gradient(
    top,
    rgba(31, 132, 199, 0) 0%,
    rgba(66, 177, 228, 0.5) 50%,
    rgba(31, 132, 199, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(31, 132, 199, 0) 0%,
    rgba(66, 177, 228, 0.5) 50%,
    rgba(31, 132, 199, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(31, 132, 199, 0) 0%,
    rgba(66, 177, 228, 0.5) 50%,
    rgba(31, 132, 199, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#001f84c7',
      endColorstr='#1f84c7',
      GradientType=0
    );
}

.side-bar {
  background-color: rgb(15, 15, 15);
}
