.App {
  text-align: center;
  overflow-y: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  position: absolute;
  z-index: 3;
}

.App-header {
  background-color: #222;
  height: 15%;
  color: white;
}

h1 {
  font-size: 2em;
  color: lightgrey;
}

.App-intro {
  font-size: large;
}

.app-bar {
  visibility: visible;
}

.navLink {
  padding-bottom: 10%;
  background: cyan;
  text-decoration-color: white;
  text-align: center;
}

.navLink:hover {
  background: teal;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg');
}

.panel-content {
  background-position: center center;
  z-index: 1;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg');
  overflow-y: auto;
  padding-top: 10%;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

#canvas {
  object-fit: contain;
  position: absolute;
}
